.animTitre{
    animation: entreeT 3s;
    animation-fill-mode: forwards;
    position: relative;
}

.animSousTitre {
    animation: entreeSt 2s;
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes entreeT {
    from {
        opacity:0;
        top:-200px;
    }
    to {
        opacity:1;
        top:0px;
    }
}

@keyframes entreeSt {
    from {
        opacity:0;
        right:-300px;
        color: white;
        background-color: #ccc;
    }
    to {
        opacity:1;
        right:0px;
        color: aquamarine;
        background-color: #cccccc7a;
    }
}