.site-branding {
    .site-title a{
        color: purple; 
    }
    .site-description {
        color: white;
        background: grey;
    }
}

#liste-cours {
    margin-bottom:0 ;

    .titre-tableau {
        font-size: 5vw;
        color: black;
    }

}

.cours {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr; 
    padding: 1em;

    .entry-title {
        font-size:  1.2em;
    }

}



/*=================================== MEDIAS QUERIES =============================*/

// ---------------------------- Mobile
@include media(mobile) {
    .cours {
        grid-template-columns: 1fr 1fr; 
        .entry-title {background-color: aquamarine;}
    }
}

// ---------------------------- Tablet
@include media(tablet) {
    .cours {
        grid-template-columns: 1fr 1fr 1fr; 
        .entry-title {background-color: rgb(72, 180, 144);}
    }
}

// ---------------------------- Desktop
@include media(desktop) {
    .cours {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .entry-title {
            background-color: rgb(42, 129, 100);
            a{color: #57c9ff;}
        }
    }
}

// ---------------------------- WIDE
@include media(wide) {
    .cours {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .entry-title a{
            background-color: rgb(14, 109, 77);
            a{color: #57c9ff;}
        }
    }
}